*{
    margin: 4px;
    padding: 0;
    border: 40px;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: #1F2937;
    font-family: Roboto;
    
}

ul{

    text-align: right;
    display: inline;
}


h1{
    width: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


img {
background-image: url("image/pexels-hikaique-775201.jpg");    
height: auto;
width: 100px;
}